<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Cover</th>
      <th>Band</th>
      <th>Title</th>
      <th>Year</th>
      <th>Submitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to image_tag(post.cover_image_url(:thumb)), post if post.cover_image? %></td>
        <td><%= post.band %></td>
        <td><%= post.title %></td>
        <td><%= post.year %></td>
        <td><%= post.user.user_name %></td>
        <td><%= button_to 'Show', post, :class => 'post-button' %></td>
        <% if post.user == current_user %>
          <td><%= button_to 'Edit', edit_post_path(post), {:action => "edit", :controller => "posts", :method => :get, :class => 'post-button'} %></td>
          <td><%= button_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?', :class => 'post-button' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Post', new_post_path, {:action => "new", :controller => "posts", :method => :get} %>
