<p id="notice"><%= notice %></p>

<%= image_tag @post.cover_image_url(:thumb).to_s %>
<p>
  <strong>Band:</strong>
  <%= @post.band %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @post.year %>
</p>

<%= link_to 'Index', posts_path %>
<% if @post.user == current_user %>
  <td><%= link_to 'Edit', edit_post_path(@post), {:action => "edit", :controller => "posts", :method => :get, :class => 'post-button'} %></td>
  <td><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?', :class => 'post-button' } %></td>
<% end %>
